@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing:  border-box;
    list-style: none;
    text-decoration: none;   
}

.container-fluid{
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 100%);
    justify-content: space-between;
}
#bevasarlokocsi{
    font-size: 1.8rem;
    cursor: pointer;
}
